<div class="sidebar-content-group">
    <ul class="nav nav-aside">
        <li class="nav-aside-header">
            <span class="h4">{% trans %} Related taxonomies {% endtrans %}</span>
        </li>
        {% for term in terms if term.getTaxonomy.getName() in ['topic', 'topic-folder'] %}
           <li itemprop="relatedLink">{{ normalize().toAnchor(term) }}</li>
        {% endfor %}
    </ul>
</div>
