{% set metaDescriptionFallback = normalize().toPreview(entity) %}
{% set metaTitleFallback = normalize().toTitle(entity) ~ ' - ' ~ entity().findSubject(entity) ~ ' ' ~ (entity.getType().getName() | trans) %}
{% set metaDescription = entity.getCurrentRevision().get('meta_description') %}
{% set metaTitle = entity.getCurrentRevision().get('meta_title') %}


{% do normalize().headMeta(entity) %}

{% if metaDescription %}
    {% do headMeta().setName('description', metaDescription) %}
{% else %}
    {% do headMeta().setName('description', metaDescriptionFallback) %}
{% endif %}

{% if metaTitle %}
    {% do headTitle(metaTitle) %}
    {% do headMeta().setProperty('og:title', metaTitle) %}
{% else %}
    {% do headTitle(metaTitleFallback) %}
{% endif %}

{% set title = entity.getCurrentRevision().get('title') %}
{% include 'entity/page/partials/placeholders' %}
<div itemscope itemtype="http://schema.org/VideoObject">
    <div class="page-header">
        {% set controls = include('entity/view/partials/actions/controls') %}
        {% do placeholder('controls').set(controls) %}
        {% do placeholder('isLeaf').set(true) %}
        {% do placeholder('breadcrumbs').set('<li><span>' ~ title ~ '</span></li>') %}
        <h1><span itemprop="name">{{ title }}</span></h1>
    </div>
    {% include 'entity/page/partials/alerts' %}
    {% include 'entity/view/default' %}
</div>
{% set taxonomy = include('entity/page/aggregate/taxonomy', {'terms': entity.getTaxonomyTerms()}) %}
{% set temp = registry().add('rnav', taxonomy) %}
{% set temp = registry().add('rnav', related(entity)) %}
