{% do normalize().headMeta(entity).headTitle(entity) %}
{% set title = entity.getCurrentRevision().get('title') %}
<div itemscope itemtype="http://schema.org/Article">
    <div class="page-header">
        {% set controls = include('entity/view/partials/actions/controls') %}
        {% do placeholder('controls').set(controls) %}
        {% do placeholder('isLeaf').set(true) %}
        {% do placeholder('breadcrumbs').set('<li><span>' ~ title ~ '</span></li>') %}
        <h1><span itemprop="name">{{ title }}</span></h1>
    </div>
    <div itemprop="articleBody">
        {% include 'entity/page/partials/alerts' %}
        {% include 'entity/view/default' %}
    </div>
</div>
{% set taxonomy = include('entity/page/aggregate/taxonomy', {'terms': entity.getTaxonomyTerms()}) %}
{% set temp = registry().add('rnav', taxonomy) %}
{% set temp = registry().add('rnav', related(entity)) %}
