{% set title = entity.getCurrentRevision().get('title') %}
{% set parent = entity.getParents('link').first() %}
{% set title = normalize().toTitle(entity) %}
{% do headTitle(title ~ ' - ' ~ entity().findSubject(entity) ~ ' - ' ~ ('Course page' | trans)) %}

{% set controls = include('entity/view/partials/actions/course/course-controls-wrapper', {'entity': entity, 'parent': parent}) %}
{% do placeholder('controls').set(controls) %}
{% do placeholder('isLeaf').set(true) %}
{% do placeholder('breadcrumbs').set('<li><a href="' ~ normalize().toUrl(parent) ~ '"><span>' ~ parent.getCurrentRevision().get('title') ~
'</span></a></li> <li><span>'~title~'</span></li>') %}

{% include 'entity/page/partials/alerts' %}
{% include 'entity/view/default' %}

{% set courseNav = include('entity/page/course-navigation', {'entity': parent, 'activePage': entity}) %}
{% set temp = registry().add('rnav', courseNav) %}
{% set temp = registry().add('rnav-is-course', true) %}