{% set title = entity.getCurrentRevision().get('title') %}
{% set tmp = headTitle(title) %}
{{ pageHeader(title)
.setSubtitle('course-page' | trans)
.setBacklink(normalize().toUrl(entity.getParents('link').first()))
.append('<div class="pull-right btn-group hidden-xs">')
    .append(include('entity/view/partials/actions/controls'))
    .append('</div>')
.render() }}
{% include 'entity/page/partials/alerts' %}
{% include 'entity/view/default' %}