{% set title = entity.getCurrentRevision().get('title') %}
{% set parent = entity.getParents('link').first() %}
{% set title = normalize().toTitle(entity) %}
{% do headTitle(title ~ ' - ' ~ entity().findSubject(parent) ~ ' ' ~ (entity.getType().getName() | trans)) %}
{% do normalize().headMeta(entity) %}

{% set controls = include('entity/view/partials/actions/controls') %}
{% do placeholder('controls').set(controls) %}
{% do placeholder('isLeaf').set(true) %}
{% do placeholder('breadcrumbs').set('<li><span>'~title~'</span></li>') %}

{% include 'entity/page/partials/alerts' %}
{% include 'entity/view/default' %}

{% set courseNav = include('entity/page/course-navigation', {'entity': parent, 'activePage': entity, 'elementsBefore':3, 'elementsAfter':3 }) %}
{% set temp = registry().add('rnav', courseNav) %}
{% set temp = registry().add('rnav-is-course', true) %}