{{ pageHeader(normalize().toTitle(entity))
.setSubtitle('Text solution' | trans)
.setBacklink(normalize().toUrl(entity.getParents('link').first()))
.append('<div class="pull-right btn-group hidden-xs">')
.append(include('entity/view/partials/actions/controls'))
.append('</div>')
.render() }}

{% include 'entity/page/partials/alerts' %}
{% include 'entity/view/default' %}