{% set title = normalize().toTitle(entity) %}
{{ pageHeader(title)
.setSubtitle('Text solution' | trans)
.setBacklink(normalize().toUrl(entity.getParents('link').first()))
.render() }}

{% set controls = include('entity/view/partials/actions/controls') %}
{% do placeholder('controls').set(controls) %}
{% do placeholder('isLeaf').set(true) %}
{% do placeholder('breadcrumbs').set('<li><span>' ~ title ~ '</span></li>') %}

{% include 'entity/page/partials/alerts' %}
{% include 'entity/view/default' %}
