{% set title = entity.getId() %}
{% set exerciseText = "Text exercise" | trans %}
{% do headTitle(title) %}
{% do placeholder('isLeaf').set(true) %}
{% do placeholder('breadcrumbs').set('<li><span>' ~ title ~ '</span></li>') %}
<div class="page-header">
    {% set controls = include('entity/view/partials/actions/controls') %}
    {% do placeholder('controls').set(controls) %}
    <h1>{{ title }}
        <small>{% trans %} Text exercise {% endtrans %}</small>
    </h1>
</div>
{% include 'entity/page/partials/alerts' %}
{% include 'entity/view/default' %}
