{% set title = entity.getId() %}
{% do headTitle(title) %}
<div class="page-header">
    {% include 'entity/view/partials/actions/controls' %}
    <h1>{{ title }}
        <small>{% trans %} Text exercise group {% endtrans %}</small>
    </h1>
</div>
{% include 'entity/page/partials/alerts' %}
{% include 'entity/view/default' %}