{% set title = entity.getId() %}
{% set exerciseText = "Text exercise" | trans %}
{% do headTitle(title) %}
<div class="page-header">
    {% include 'entity/view/partials/actions/controls' %}
    <h1>{{ title }}
        <small>{% trans %} Text exercise {% endtrans %}</small>
    </h1>
</div>
{% include 'entity/page/partials/alerts' %}
{% include 'entity/view/default' %}