@import "../modules/grid";
@import "../modules/visibility";

$homeBackgroundColor: #efefef;
$homeColumnWidth: 300px;
$homeColumnPadding: 30px;

$homeBreakpoint-md: 600px;
$homeBreakpoint-md-min: $homeBreakpoint-md;
$homeBreakpoint-md-max: ($homeBreakpoint-md-min - 1);

$homeBreakpoint-lg: 800px;
$homeBreakpoint-lg-min: $homeBreakpoint-lg;
$homeBreakpoint-lg-max: ($homeBreakpoint-lg-min - 1);

@include grid('home', 6, ('md', $homeBreakpoint-md), ('lg', $homeBreakpoint-lg));
@include visibility('home', ('md', $homeBreakpoint-md), ('lg', $homeBreakpoint-lg));

.home-row {
  margin: 0 auto;
  text-align: center;
}

.home-column {
  padding: 0 $homeColumnPadding;
  text-align: center;

  h2 {
    color: lighten($gray, 10%);
    font-size: 14px;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

.home-subject-row {
  margin: 0px auto 100px auto;
  padding: auto;

  .home-column {
    display: flex;
    align-items: center;
  }

  .home-subject {
    display: inline-block;
    vertical-align: middle;
    br {
      align: center;
    }
  }

  .home-emph-link {
    font-size: 20px;
  }
}

.home-emph-link {
  font-size: 23px;
  color: $gray;
  @media screen and (max-width: 750px){
    .home-subject-symbol {
      .blue{fill:#00B2D8;}
      .green{fill:#BECD2B;}
    }
  }
  &:focus, &:hover, &:active {
    text-decoration: none;
    color: $serloBlue;
    .home-subject-symbol {
      .blue{fill:#00B2D8;}
      .green{fill:#BECD2B;}
    }
    i {
      color: $serloBlue;
    }
  }
}

.home-header {
  text-align: center;
  font-size: 36px;
  color: $gray;
  margin-bottom: 120px;
  margin-top: 40px;

  .serlo-logo {
    display: inline-block;
    font-size: 50px;
    height: 100px;
    vertical-align: bottom;
    margin-left: -20px;
  }

  .serlo-brand {
    display: inline-block;
  }

  .header-text {
    display: inline-block;
    margin-left: 10px;
    vertical-align: bottom;
    margin-bottom: 4px;
  }
}

.home-serlo-row {
  margin: 0 auto 100px auto;

  .home-column {
    margin-bottom: 25px;
    @media screen and (min-width: $homeBreakpoint-md-min) {
      margin-bottom: 0;
    }
    a {
      display: inline-block;
      padding: 0 20px;
    }
  }

  .serlo-en-home & {
    max-width: 400px;

    .serlo-logo {
      display: inline-block;
      font-size: 65px;
      height: 100px;
      vertical-align: bottom;
    }

    .serlo-brand {
      display: inline-block;
      font-size: 36px;
    }
  }

  .serlo-de-home & {
    max-width: 3 * ($homeColumnWidth + 2*$homeColumnPadding);

    h2 {
      display: inline-block;
      width: 2/3 * 100%;
      border-bottom: 1px solid $lightGray;
      padding-bottom: 5px;
    }

    img {
      max-width: 125px;
    }

    li {
      padding: 29px 0;
    }

    blockquote {
      border: none;
      font-size: inherit;
      margin: 0;

      footer {
        padding: 5px 0;
        font-weight: bold;
        display: inline-block;

        &:before {
          content: '';
        }
      }
    }
  }
}

.home-blue-row {
  background: #0C5997;
  color: #ffffff;
  padding: 25px 0;

  @media (min-width: 950px) {
    padding: 50px 0;
  }

  .serlo-de-home & {
    .home-column {
      display: inline-block;
      padding: 70px 0;
      @media (min-width: 950px) {
        padding: 100px 600px 100px 0;
        background: url('../images/de/home_learn.svg') no-repeat right;
      }
      .home-emph-link {
        color: white;
        &:focus, &:hover, &:active {
          text-decoration: underline;
        }
        i {
          color: white;
        }
      }
    }
  }

  .serlo-en-home & {
    padding: 50px;

    div {
      background: url('../images/en/home_learn.svg') no-repeat center;
      background-size: contain;
      height: 0;
      width: 100%;
      max-width: 475px;
      margin: 0 auto;
      padding-top: 67%;

      @media screen and (min-width: 525px) {
        padding-top: 315px;
      }
    }
  }
}

.home-launch-img-row {
  background-size: contain;
  background-repeat: no-repeat;
  height: 0;
  width: 100%;
  padding-top: 43.75%;

  .serlo-de-home & {
    background-image: url('../images/de/home_img_launch_sm.jpg');

    @media screen and (min-width: $homeBreakpoint-md-min) {
      background-image: url('../images/de/home_img_launch_md.jpg');
    }

    @media screen and (min-width: $homeBreakpoint-lg-min) {
      background-image: url('../images/de/home_img_launch_lg.jpg');
    }
  }

  .serlo-en-home & {
    background-image: url('../images/en/home_img_launch_sm.jpg');

    @media screen and (min-width: $homeBreakpoint-md-min) {
      background-image: url('../images/en/home_img_launch_md.jpg');
    }

    @media screen and (min-width: $homeBreakpoint-lg-min) {
      background-image: url('../images/en/home_img_launch_lg.jpg');
    }
  }
}

.serlo-home {
  @media screen and (min-width: $navigationBreakPoint-min) {
    #header-nav {
      display: none;
    }
  }

  #serlo-menu {
    margin-bottom: 1px;
  }

  #subject-nav {
    @include box-shadow(none);

    .subject-nav-center {
      margin-right: 227px;
    }

    #subject-nav-wrapper, .subject-nav-center {
      background: none;
      @include box-shadow(none);
    }

    #search-content {
      width: 220px;

      @media screen and (max-width: $homeBreakpoint-md-max) {
        width: 100%;
      }

      form {
        background: none;
        @include box-shadow(none);
        @include bottom-frame($lightGray);
      }
    }
  }

  #content-layout {
    padding: 0;
  }

  #footer .navbar-default {
    background: $homeBackgroundColor;
  }

  .wrap {
    background-color: $homeBackgroundColor;
  }
}

.home-community-wrapper {
  background: #fff;
  padding: 50px 0;
}

.home-community-row, .home-community-link-row {
  max-width: 2 * ($homeColumnWidth + 2*$homeColumnPadding);

  @media screen and (max-width: $homeBreakpoint-md-max) {
    margin: 0;
  }

  .home-column {
    h2 {
      margin-bottom: 2px;
    }

    > a {
      display: block;
      margin: 30px 0;

      &:focus, &:hover, &:active {
        color: $serloGreen;
      }

      i {
        color: $serloGreen;
      }
    }
  }
}
