#header > .navbar {
  // hack
  margin-bottom: 0 !important;
}

#sms-banner {
  background-color: #95bc1a;
  width: 100%;
  color: white;
  padding-top: 15px;

  .sms-slogan {
    padding-top: 15px;

    @media (max-width: $screen-md-min) {
      padding-top: 0;
    }
  }

  .sms-description {
    line-height: 1.5em;

    .sms-description-text {
      padding-top: 35px;

      @media (max-width: $screen-md-min) {
        padding-top: 0;
      }
    }
  }
}

#sms-disclaimer {
  text-align: right;
  margin-bottom: 20px;
  color: #95bc1a;
  padding-right: 5px;
  font-size: 85%;
}