.nav-aside {
  padding: 3px 0;
  line-height: 20px;

  li.nav-aside-header {
    padding: 13px 10px 5px 20px;
    font-size: 14px;
    margin: 0px;
    border-bottom: 1px solid $white;
    small {
      font-style: italic;
    }
    h1, h2, h3, h4, h5, h6 {
      margin: 0px;
      padding: 0px;
    }
  }

  & > li > a {
    padding: 3px 10px 3px 20px;
    font-size: 13px;

    &.active,
    &:hover,
    &:focus {
      color: $grayDark;
      background: $white;
    }
  }
}