// Single Choice
.single-choice-group {
  .single-choice-answer-group {

    label {
      width: 100%;
    }

    .single-choice-answer-content {

    }

    .single-choice-answer-feedback {
      padding: 15px 10px;
    }
  }
}

.multiple-choice-group {
  .multiple-choice-answer-group {

    label {
      width: 100%;
    }

    .multiple-choice-answer-content {

    }

    .multiple-choice-answer-feedback {
      padding: 15px 10px;
    }
  }
}