#header-nav {
  // padding-top: 20px;
  font-size: 36px;
  height: 75px;
  line-height: 75px;
  margin-top: 50px;
  
  #mobile-menu-toggle {
    display: inline-block;
    font-size: .9em;
    
    height: 1.5em;
    line-height: 1.5em;
    // vertical-align: middle;
    vertical-align: baseline;
    
    width: 1.5em;
    text-align: center;
    
    background-color: $grayDark;
    color: $lighterGray;
    @media only screen and (min-width: $navigationBreakPoint) {
      display: none !important;
    }
    @media only screen and (max-width: $sidebarBreakPoint) {
      margin-left: $pagePaddingMedium;
    }
  }

  #brand-link {
    color: $grayDark;
    position: relative;
    &:hover, &:active, &:focus {
      color: $grayDark;
      text-decoration: none;
    }
  }

  // .slogan {
  //   @include theme-font(600);
  //   position: relative;
  //   top: -5px;

  //   width: 180px;

  //   color: $grayDark;
  //   font-size: 0.9em;
  //   text-align: right;

  //   @media only screen and (max-width: $screen-xs-min) {
  //     top: -40px;
  //     left: 60px;
  //   }
  // }

  .subject-title {
    display: inline-block;
    margin-left: ($sidebarWidth + $sidebarGap);
  }
  
  @media only screen and (max-width: $navigationBreakPoint) {
    
    font-size: 28px;
    line-height: 66px;
    margin-top: 0;
    
    #brand-link {
      #serlo-logo {
        display: none;
      }
      #serlo-brand {
        position: static;
        display: inline-block;
      }
    }
    .subject-title {
      margin: 0;
    }
  }
}

#subject-nav {
  position: relative;
  padding: 0;
  
  .subject-anchor,
  .subject-nav-center,
  #search-content
  {
    @include block-shadow;
  }
  
  .subject-anchor {
    display: block;
    float: left;
    width: $sidebarWidth;
    padding: 14px 12px 12px;
    background-color: $serloGray;
    color: white;
    font-weight: bold;
    margin-right: $sidebarGap;
  }
  
  .subject-nav-center {
    display: block;
    margin: 0 ($sidebarWidth + $sidebarGap);
    background-color: $white;
    
    .breadcrumbs {
      display: inline-block;
      margin: 0 14px;
      padding: 0;
      li {
        display: inline-block;
        &::before {
          content: "\f104";
          font-family: "FontAwesome";
          display: inline-block;
          text-align: center;
          padding: 0 10px;
        }
        &:first-child::before {
          display: none;
        }
        a,
        span
        {
          display: inline-block;
          padding: 14px 0 12px;
        }
      }
    }
    .serlo-header-tools {
      display: block;
      float: right;
      a {
        display: inline-block;
        padding: 14px 14px 12px;
        background-color: $serloGreen;
        .fa {
          width: 100%;
          color: white;
        }
      }
    }
  }
  
  @media only screen and (max-width: $navigationBreakPoint) {
    .subject-anchor {
      display: none;
    }
    .subject-nav-center {
      margin-left: 0;
    }
  }
  
  #search-content {
    @include bottom-frame($serloBlue);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $sidebarWidth;
    margin-left: $sidebarGap;
    
    background: transparent;
    input {
      position: absolute;
      background: transparent;
      color: $black;
    }
  }
  
}

