$backgroundColorHome: #efefef;
$homeColumnWidth: 300px;
$homeColumnPadding: 30px;

.home-column {
  padding: 0 $homeColumnPadding;
  text-align: center;

  h2 {
    color: lighten($gray, 10%);
    font-size: 14px;
    font-weight: bold;
  }

  > a {
    font-size: 23px;
    color: $gray;

    &:focus, &:hover, &:active {
      text-decoration: none;
      color: $serloBlue;
    }

    i {
      color: $serloBlue;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
}

.home-subject-row, .home-3-col-row, .home-community-row {
  margin: 0 auto;
  text-align: center;
}

.home-subject-row {
  max-width: 400px;
  padding-top: 300px;
  margin-bottom: 100px;
  background: url('../images/home_title_maths.svg') no-repeat;
  background-size: 400px;

  .home-column {
    > a {
      font-size: 32px;
    }

    p > a {
      font-weight: bold;
    }
  }
}

.home-3-col-row {
  max-width: 3 * ($homeColumnWidth + 2*$homeColumnPadding);
  margin: 50px auto;

  h2 {
    display: inline-block;
    width: 2/3 * 100%;
    border-bottom: 1px solid $lightGray;
    padding-bottom: 5px;
  }

  img {
    max-width: 125px;
  }

  li {
    padding: 29px 0;
  }

  blockquote {
    border: none;
    font-size: inherit;
    margin: 0;

    footer {
      padding: 5px 0;
      font-weight: bold;
      display: inline-block;

      &:before {
        content: '';
      }
    }
  }

  .serlo-logo {
    font-size: 60px;
    line-height: 1;
  }

  .serlo-brand {
    font-size: 30px;
    line-height: 1;
    margin: 10px 0;
  }
}

.home-blue-row {
  background: #0C5997;
  color: #ffffff;
  padding: 25px 0;

  .home-column {
    ul {
      display: inline-block;
      font-size: 50px;
      padding: 50px 600px 50px 0;
      background: url('../images/home_learn.svg') no-repeat right;

      li {
        padding: 15px 0;
        line-height: 1;

        span {
          display: block;
          font-size: 25px;
          color: #bfdeef;
          padding: 0;
        }
      }
    }
  }
}

.home-community-wrapper {
  background: #fff;
  padding: 50px 0;
}

.home-community-row, .home-community-link-row {
  max-width: 2 * ($homeColumnWidth + 2*$homeColumnPadding);
  margin: 0 auto;

  .home-column {
    h2 {
      margin-bottom: 2px;
    }

    > a {
      display: block;
      margin: 30px 0;

      &:focus, &:hover, &:active {
        color: $serloGreen;
      }

      i {
        color: $serloGreen;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .home-3-col-row .home-column {
    float: left;
    width: 50%;
  }

  .home-community-row, .home-community-link-row {
    .home-column {
      float: left;
      width: 50%;
    }
  }

  .home-community-row .home-column > a {
    display: none
  }
}

@media screen and (max-width: 599px) {
  .home-community-row, .home-community-link-row {
    margin: 0;
  }

  .home-community-link-row .home-column > a {
    display: none;
  }

  #subject-nav #search-content {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .home-3-col-row .home-column {
    float: left;
    width: 1/3 * 100%;
  }
}

@media screen and (max-width: 799px) {
  .home-3-col-row {
    .home-column + .home-column + .home-column {
      display: none;
    }
  }

  .home-blue-row .home-column ul {
    background: none;
    padding: 50px 0;
  }
}

.serlo-home {
  @media only screen and (min-width: $navigationBreakPoint-min) {
    #header-nav {
      display: none;
    }
  }

  #serlo-menu {
    margin-bottom: 1px;
  }

  #subject-nav {
    box-shadow: none;

    #subject-nav-wrapper, .subject-nav-center {
      background: none;
    }

    #search-content {
      form {
        background: none;
        @include bottom-frame($lightGray);
      }
    }
  }

  #content-layout {
    padding: 0;
  }

  #footer .navbar-default {
    background: $backgroundColorHome;
  }

  .wrap {
    background-color: $backgroundColorHome;
  }
}

