$footerNavWidth: 200px;

#footer {
  width: 100%;
  padding:  0;


  nav {
    padding: 10px $pagePaddingMedium;
  }

  .nav {
    float: left;
    width: 100%;

    > li > a {
      color: $gray;
      padding: 5px 10px;

      &:hover, &:active, &:focus {
        background: none;
        color: $serloBlue;
      }
    }

    .fa {
      display: none;
    }

    @media (min-width: $navigationBreakPoint-2-col-min) {
      width: $footerNavWidth;
    }
  }

  @media (min-width: $navigationBreakPoint-2-col-min) {
    .footer-left {
      .nav + .nav {
        left: $footerNavWidth;
      }
    }

    .footer-right .nav {
      left: 2 * $footerNavWidth;
    }
  }

  .footer-left, .footer-right {
    float: left;
    width: 100%;

    @media (min-width: $navigationBreakPoint-1-col-min) {
      width: 50%;
    }

    @media (min-width: $navigationBreakPoint-2-col-min) {
      width: auto;
    }
  }

  .container-fluid {
    position: relative;
  }

  .logo-wrapper {
    font-size: 26px;
    position: absolute;
    bottom: 0;
    right: 0;

    @media (max-width: $navigationBreakPoint-2-col-max) {
      display: none;
    }
  }

  .serlo-logo {
    display: inline-block;
    font-size: 40px;
    height: 75px;
    vertical-align: bottom;
  }

  .serlo-brand {
    display: inline-block;
    font-size: 28px;
  }
}
