.text-exercise {
  border: 1px solid transparent;
  border-radius: 2px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;

  margin: -15px -1px 15px -16px;

  .solution a {
    cursor: pointer;
  }
  // Single Choice
  .single-choice-group, .multiple-choice-group {
    .single-choice-answer-group, .multiple-choice-answer-group {
      p {
        margin: 0;
        padding: 0;
      }

      .single-choice-answer-content, .multiple-choice-answer-content {
        width: 100%;
        border: 0 none;
        color: #000;
        min-height: 35px;
        white-space: normal;
        margin: 5px 0 0;

        .single-choice-answer-choice, .multiple-choice-answer-choice {
          position: absolute;
          clip: rect(0px 0px 0px 0px);
          margin: 1rem 0.5rem 2rem 0;

        }
      }
    }

    .btn {
      box-shadow: none;
      transition: background-color 0.5s ease;

      &.button-default {
        background-color: $lighterGray;

        &.active, &:hover, &:focus {
          background-color: $infoBlue;
        }
      }

      &.btn-warning {
        background-color: $infoOrange;
      }

      &.btn-success {
        background-color: $serloGreen;
      }
    }

    .single-choice-answer-feedback, .multiple-choice-answer-feedback {
      &.positive {
        color: $serloGreen;
        font-weight: bold;
        padding-right: 45px;
      }

      &.negative {
        color: $infoOrange;
        font-weight: bold;
        padding-right: 45px;
      }
    }

    .btn-group {
      width: 100%;
      margin-bottom: 15px;
    }

    .single-choice-solution, .multiple-choice-solution {
      padding: 8px 15px 10px;
      margin: 0 -15px;

      .single-choice-submit, .multiple-choice-submit {
        visibility: hidden;
        border: 0 none;
        font-size: 14px;
      }
      .solution {
        display: inline-block;
      }
    }
  }
  &.active{
    border: 1px solid $backgroundColor;

    .single-choice-solution, .multiple-choice-solution {
      background-color: $infoBlue;

      .single-choice-submit, .multiple-choice-submit {
        visibility: visible;

        &:focus {
          outline: none;
        }

        .single-choice-submit-check, &.btn-success .single-choice-submit-correct,
        .multiple-choice-submit-check, &.btn-success .multiple-choice-submit-correct {
          display : block;
        }
        .single-choice-submit-correct, &.btn-success .single-choice-submit-check,
        .multiple-choice-submit-correct, &.btn-success .multiple-choice-submit-check {
          display: none;
        }
      }
    }
  }
  &.extended {
    .col-sm-3 {
      width: 100%;
    }
    .btn {
      text-align: left;
    }
  }
}