{% set title = 'article' | trans %}
{% set revision = entity.getCurrentRevision() %}
{% set content = renderer.toHtml(revision.get('content'), entity.getId()) %}
<article>
    <section class="editable" data-id="{{ entity.getId() }}" data-edit-field="content" data-edit-type="ory">
        {{ content }}
    </section>

    {% include 'entity/view/partials/license' %}


</article>
{% set discussions %}
    <section id="discussion-{{ entity.getId() }}" class="discussions clearfix">
        {{ discussion(entity).render() }}
    </section>
{% endset %}
{% do placeholder('discussions').set(discussions) %}
