{% set title = 'course' | trans %}
{% set subtitle = 'course-page' | trans %}
{% set pages = entity.getChildren('link', 'course-page') %}
<div id="course-{{ entity.getId() }}" class="carousel-tabbed carousel slide">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        {% set validPages = [] %}
        {% for page in pages if page.hasCurrentRevision() and not(page.isTrashed()) %}
            {% set validPages = validPages|merge([page]) %}
        {% endfor %}

        {% for page in validPages %}
            {% set revision = page.getCurrentRevision() %}

            <article class="{{ loop.first ? "item active" : "item" }}">
                <div class="container-fluid">
                    {% include 'entity/view/default' with { 'entity': page, 'parent': entity} only %}
                </div>
            </article>
        {% endfor %}
    </div>
</div>
<!-- End Carousel -->

{% include 'entity/view/partials/license' %}
