{##
 # This file is part of Athene2.
 #
 # Copyright (c) 2013-2019 Serlo Education e.V.
 #
 # Licensed under the Apache License, Version 2.0 (the "License")
 # you may not use this file except in compliance with the License
 # You may obtain a copy of the License at
 #
 #    http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #
 # @copyright Copyright (c) 2013-2019 Serlo Education e.V.
 # @license   http://www.apache.org/licenses/LICENSE-2.0 Apache License 2.0
 # @link      https://github.com/serlo-org/athene2 for the canonical source repository
 #}
{% set title = 'text-hint' | trans %}
{% set revision = entity.getCurrentRevision() %}

<article class="panel-group">
    <section class="{{ collapse is defined ? 'collapse' : '' }} panel panel-default" id="hint-{{ entity.getId() }}">
        <div class="panel-body">
            <strong>
                <div class="pull-right">
                    {% include 'entity/view/partials/actions/small-essential' %}
                </div>
                <span class="fa fa-question-sign"></span>
                {% trans %} Hint {% endtrans %}
            </strong>
        </div>
        <div class="list-group">
            <div class="list-group-item editable"
                 data-id="{{ entity.getId() }}"
                 data-edit-field="content"
                 data-edit-type="ory">
                {% if revision %}
                    {{ renderer.toHtml(revision.get('content')) | raw }}
                {% elseif not entity.getHead() %}
                    {% trans %} A hint has been created but no content has been added yet or it is pending approval. {% endtrans %}
                {% endif %}
            </div>
        </div>
    </section>
</article>
