{% set title = 'text-hint' | trans %}
{% set revision = entity.getCurrentRevision() %}
<article class="panel-group">
    <section class="{{ collapse is defined ? 'collapse' : '' }} panel panel-default" id="hint-{{ entity.getId() }}">
        <div class="panel-body">
            <strong>
                <ul class="nav nav-pills pull-right">
                    {% include 'entity/view/partials/actions/small-essential' %}
                </ul>
                <span class="glyphicon glyphicon-question-sign"></span>
                {% trans %} Hint {% endtrans %}
            </strong>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                {% if revision %}
                    {{ markdown().toHtml(revision.get('hint')) | raw }}
                {% elseif not entity.getHead() %}
                    {% trans %} A hint has been created but no content has been added yet or it is pending approval. {% endtrans %}
                {% endif %}
            </div>
        </div>
    </section>
</article>
