{% set title = 'video' | trans %}
{% set description = markdown().toHtml(entity.getCurrentRevision().get('description')) %}
<article>
    <section>
        {% set id = entity.getCurrentRevision().get('content') %}

        {% if id matches '{^(https?:\\/\\/)?(.*?youtube.com\\/watch\\?v=.+|.*?youtu.be\\/.+)}' %}
            {% set src = 'https://www.youtube.com/embed/' ~ (id|split('?v='))|slice(1)|join ~ '?html5=1' %}
        {% elseif id matches '{^(https?:\\/\\/)?(.*?vimeo.com\\/.+)}' %}
            {% set src = '//player.vimeo.com/video/' ~ (id|split('/')|last) %}
        {% endif %}

        {% if src is defined %}
            <p class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                    src="{{ src }}"></iframe>
            </p>
        {% else %}
            <p class="text-center">
                <strong>
                    {% trans %} Could not embed video - platform unknown {% endtrans %}
                </strong>
                <br />
            </p>
        {% endif %}
    </section>
    <section itemprop="description">
        {{ description }}
    </section>

    <div class="separator"></div>

    {% include 'entity/view/partials/license' %}
    <section id="discussion-{{ entity.getId() }}">
        {{ discussion(entity).render() }}
    </section>
</article>