<?php
$dbParams = array(
		'host' => 'localhost',
		'port' => '3306',
		'user' => 'root',
		'password' => 'athene2',
		'database' => 'serlo'
);

return [
    'doctrine'     => [
        'connection' => [
            'orm_default' => [
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params'      => [
                    'host'     => $dbParams['host'],
                    'port'     => $dbParams['port'],
                    'user'     => $dbParams['user'],
                    'password' => $dbParams['password'],
                    'dbname'   => $dbParams['database'],
                    // Yes..this is currently the only way i know of fixing database encoding issues
                    'charset' => 'latin1'
                ]
            ]
        ]
    ],
    'brand'    => [
        'instances' => [
            'deutsch' => [
                'name'        => '<div class="serlo-brand">Serlo</div>',
                'slogan'      => 'Freie Bildung.',
                'description' => 'Serlo ist eine kostenlose Plattform mit freien Lernmaterialien, die alle mitgestalten können.',
                'logo'        => '<span class="serlo-logo">V</span>',
                'head_title'  => 'Serlo.org'
            ],
            'english' => [
                'name'        => '<div class="serlo-brand">Serlo</div>',
                'slogan'      => 'Open Education.',
                'description' => 'Serlo is a free service with open educational resources, which anyone can contribute to.',
                'logo'        => '<span class="serlo-logo">V</span>',
                'head_title'  => 'Serlo.org'
            ]
        ]
    ],
    'solarium'     => [
        'endpoint' => [
            'default' => [
                'host'    => 'localhost',
                'port'    => 8080,
                'path'    => '/solr',
                'core'    => '',
                'timeout' => 5
            ]
        ]
    ],
    'instance'     => [
        'strategy' => 'Instance\Strategy\DomainStrategy'
    ],
    'dbParams'     => array(
        'host'     => $dbParams['host'],
        'port'     => $dbParams['port'],
        'username' => $dbParams['user'],
        'password' => $dbParams['password'],
        'database' => $dbParams['database']
    ),
    'smtp_options' => [
    	'name' => 'localhost.localdomain',
		'host' => '127.0.0.1',
		'connection_class' => 'login',
        'connection_config' => [
			'username' => 'user',
			'password' => 'pass'
        ]
    ]
];
