<?php
/**
 * Athene2 - Advanced Learning Resources Manager
 *
 * @author    Aeneas Rekkas (aeneas.rekkas@serlo.org)
 * @license   LGPL-3.0
 * @license   http://opensource.org/licenses/LGPL-3.0 The GNU Lesser General Public License, version 3.0
 * @link      https://github.com/serlo-org/athene2 for the canonical source repository
 * @copyright Copyright (c) 2013-2014 Gesellschaft für freie Bildung e.V. (http://www.open-education.eu/)
 */

$cacher = [
    'adapter' => [
        'name' => 'Zend\Cache\Storage\Adapter\Memcached',
        'options' => [
            'namespace' => __NAMESPACE__,
            'ttl' => 60 * 60
        ]
    ],
    'plugins' => [
        'exception_handler' => [
            'throw_exceptions' => false
        ],
        'serializer'
    ]
];

return [
    'doctrine' => array(
        'configuration' => array(
            'orm_default' => array(
                'metadata_cache'  => 'doctrine_memcache',
                'query_cache'     => 'doctrine_memcache',
                'result_cache'    => 'doctrine_memcache',
                'hydration_cache' => 'doctrine_memcache',
            )
        )
    ),
    'service_manager' => [
        'factories' => [
            'doctrine.cache.doctrine_memcache' => function ($sm) {
                $cache = new \Doctrine\Common\Cache\MemcachedCache();
                $memcache = new \Memcached();
                $memcache->addServer('localhost', 11211);
                $cache->setMemcached($memcache);
                return $cache;
            },
        ],
    ],
    'view_manager' => [
        'display_exceptions' => false
    ],
    'zfctwig' => [
        'environment_options' => [
            'debug' => false,
            'strict_variables' => false,
            'autoescape' => false
        ],
    ],
    'assetic_configuration' => [
        'debug' => false,
        'buildOnRequest' => false
    ],
    'log' => [
        'exceptions' => true
    ],
    'strokercache' => [
        'storage_adapter' => [
            'name' => 'Zend\Cache\Storage\Adapter\Memcached',
            'options' => [
                'servers' => [
                    [
                        'host' => 'localhost',
                        'port' => 11211
                    ]
                ],
                'ttl' => 60*60*24*2
            ]
        ]
    ],
    'alias_cache' => $cacher,
    'markdown_cache' => $cacher,
    'navigation_cache' => $cacher,
    'normalizer_cache' => $cacher,
    'notification_cache' => $cacher,
    'subject_cache' => $cacher
];
