<?php
/**
 * Athene2 - Advanced Learning Resources Manager
 *
 * @author    Aeneas Rekkas (aeneas.rekkas@serlo.org)
 * @license   LGPL-3.0
 * @license   http://opensource.org/licenses/LGPL-3.0 The GNU Lesser General Public License, version 3.0
 * @link      https://github.com/serlo-org/athene2 for the canonical source repository
 * @copyright Copyright (c) 2013-2014 Gesellschaft für freie Bildung e.V. (http://www.open-education.eu/)
 */

return [
    'doctrine' => array(
        'configuration' => array(
            'orm_default' => array(
                'metadata_cache'  => 'apccache',
                'query_cache'     => 'apccache',
                'result_cache'    => 'apccache',
                'hydration_cache' => 'apccache',
            )
        )
    ),
    'view_manager' => [
        'display_exceptions' => false
    ],
    'zfctwig' => [
        'environment_options' => [
            'debug' => false,
            'strict_variables' => false,
            'autoescape' => false
        ],
    ],
    'assetic_configuration' => [
        'debug' => false,
        'buildOnRequest' => false
    ],
    'log' => [
        'exceptions' => true
    ],
    'strokercache' => array(
        'storage_adapter' => [
            'name' => 'Zend\Cache\Storage\Adapter\Filesystem',
            'options' => [
                'cache_dir' => __DIR__ . '/../../data',
                'ttl' => 60*60*24*7
            ]
        ]
    ),
];
