{% set options = entity().getOptions(entity) %}
{% if options.hasComponent('license') %}
    <li>
        <a rel="nofollow" href="{{ url('license/detail', {'id': entity.getLicense().getId()}) }}">
            <span class="fa fa-leaf"></span>
            {% trans %} License {% endtrans %}
        </a>
    </li>
{% endif %}