{% set options = entity().getOptions(entity) %}
{% if options.hasComponent('license') %}
    <li>
        <a href="{{ url('license/detail', {'id': entity.getLicense().getId()}) }}">
            <img class="license-intext" alt="{% trans %} License {% endtrans %}" src="{{ entity.getLicense().getIconHref() }}">
            {% trans %} License {% endtrans %}
        </a>
    </li>
{% endif %}