{% set children = [] %}
{% for child in term.findChildrenByTrashed(false) %}
    {% if child.getType().getName() in ['topic-folder' , 'curriculum-topic-folder'] %}
        {% set children = children | merge([ child ]) %}
    {% endif %}
{% endfor %}
{% if children %}
    <div class="row top-buffer-10">
        <div class="col-xs-2 text-center">
            <span class="h2 fa-2x fa fa-files-o"></span>
        </div>
        <div class="col-xs-10">
            <h2>{% trans %} Groups {% endtrans %}</h2>
            {% for child in children %}
                <div class="row">
                    <div class="col-xs-12">
                        <a href="{{ url('taxonomy/term/get', {'term': child.getId()}) }}">{{ child.getName() }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
