.*
deployment.properties
docs/
tmp/
!.circleci/
!.editorconfig
!.gitattributes
!.gitignore
!.gitkeep
!.gitmodules
!.travis.yml
!.phpcsrc.php
/tmp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/

# Optional php-cs-fixer cache
.php_cs.cache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Docker Compose file
docker-compose.yml
