/* BODY / HTML*/
body, html {
  width: 100%;
  height: 100%;
}

html {
  background: $backgroundColor;
}

body {
  background: none transparent;

  transform-origin: 50% 250px;

  //overflow-x: hidden;
  overflow-y: scroll;
  // ios overfloy-x hidden fix
  position: relative;
  -webkit-overflow-scrolling: touch;

  font-family: $baseFont;

  @include theme-font(normal);
}

.wrap {
  padding-bottom: 70px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -1 * $footerHeight; /* the bottom margin is the negative value of the footer's height */

  position: relative;
  z-index: 1;

  @media only screen and (max-width: $screen-sm) {
    margin: 0 auto;
  }
}
