/* MAIN PAGE LAYOUT */

// %pageMargin {
//   padding: 0 $pagePaddingSmall;

//   @media only screen and (min-width: $navigationBreakPoint) {
//     padding: 0 $pagePaddingMedium;
//   }

//   @media only screen and (min-width: $sidebarBreakPoint) {
//     padding: 0 $pagePaddingLarge;
//   }
// }
//body {
//  // min-width: $minWidth;
//  /*@media only screen and (max-width: $minWidth) {
//      overflow-x: auto;
//  }*/
//}
//
//#subject-nav,
//#serlo-menu,
//#page,
//#horizon,
//#footer {
//  @extend %pageMargin;
//}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  
  max-width: $maxWidth;
  
  margin: 0 auto -1 * $footerHeight; /* the bottom margin is the negative value of the footer's height */
  padding: 0 $pagePaddingLarge 70px;

  position: relative;
  z-index: 1;

  // @media only screen and (max-width: $screen-sm) {
  //   margin: 0 auto;
  // }
  // @media only screen and (min-width: $navigationBreakPoint) {
  //   padding: 0 $pagePaddingMedium;
  // }
  // @media only screen and (min-width: $sidebarBreakPoint) {
  //   padding: 0 $pagePaddingLarge;
  // }
  @media only screen and (max-width: $navigationBreakPoint) {
    padding: 0 $pagePaddingMedium;
  }
  @media only screen and (max-width: $sidebarBreakPoint) {
    padding: 0 $pagePaddingSmall;
  }
}

#header {
  position: relative;
  z-index: $headerZIndex;
  clear: both;
}

#horizon {
  clear: both;
  padding: 50px 0 100px 0;
}

#page {
  margin-top: 22px;

  &.has-navigation {
    // margin-top: 0;
    margin-top: 10px;

    // @media only screen and (max-width: $navigationBreakPoint) {
    //   margin-top: 22px;
    // }
  }
}

/* Side Elements (Navigation && Context) */
.side-element {
  position: relative;

  &.visible {

    .side-element-inner {
      visibility: visible;
    }

    .layout-toggle {
      .fa {
        display: none;

        & + .fa {
          display: block;
        }
      }
    }
  }

  .layout-toggle {
    display: none;

    cursor: pointer;
    user-select: none;

    .fa {
      display: block;

      & + .fa {
        display: none;
      }
    }
  }
}

/* side element layout toggler */
.layout-toggle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;

  background: $darkGray;
  color: white;

  html.no-touch & {
    &:hover {
      background: $darkerGray;
    }
  }

  .fa {
    display: block;
    margin: 0 auto;
    line-height: $sideElementWidthCollapsed;
  }
}

/* Left Navigation */
.side-navigation {
  width: $navigationWidth;
  margin-right: $sidebarGap;
  float: left;
  margin-top: $sideNavTopOffset;
  
  @include block-shadow;
  
  @media only screen and (max-width: $navigationBreakPoint) {
    display: none;
    // width: $sideElementWidthCollapsed;

    // .side-element-inner {
    //   visibility: hidden;
    //   margin-left: $sideElementWidthCollapsed;
    // }

    // .layout-toggle {
    //   display: block;
    // }
  }
}

/* Main Container */
.main {
  // float: left;
  position: relative;
  // max-width: $contentMaxWidth;
  
  @include block-shadow;
  
  margin: 0 ($sidebarWidth + $sidebarGap);
  @media only screen and (max-width: $navigationBreakPoint) {
    margin-left: 0;
  }
  @media only screen and (max-width: $sidebarBreakPoint) {
    margin-right: $sideElementWidthCollapsed;
  }
  // .has-navigation & {
  //   margin-left: $navigationWidth;

  //   @media only screen and (max-width: $navigationBreakPoint) {
  //     margin-left: $sideElementWidthCollapsed;
  //   }
  // }

  // .has-context & {
  //   margin-right: $sidebarWidth;

  //   @media only screen and (max-width: $sidebarBreakPoint) {
  //     margin-right: $sideElementWidthCollapsed;
  //   }

  //   @media only screen and (min-width: $sidebarBreakPoint + 150px) {
  //     margin-right: $sidebarWidth + 150px;
  //   }

  //   // @media only screen and (max-width: $sidebarBreakPoint) {
  //   //     margin-right: $sideElementWidthCollapsed;
  //   // }
  // }
}

/* Content */
#content-layout {
  //max-width: $contentMaxWidth;
  width: 100%;

  // For Now
  min-height: 670px;
  padding: 0 $contentPadding $contentPadding;

  float: left;
  // box-sizing: content-box;

  // Hide content that overlaps (MathJax likes to do this)
  // overflow: hidden;

  line-height: 1.5;

  .has-context & {
    // margin-right: $sidebarWidth;

    // @media only screen and (max-width: $sidebarBreakPoint) {
    //     margin-right: $sideElementWidthCollapsed;
    // }

    // @media only screen and (min-width: $sidebarBreakPoint + 150px) {
    //     margin-right: $sidebarWidth + 150px;
    // }
  }
}

/* Right Context Area */
.side-context {
  
  position: absolute;
  top: $sideNavTopOffset;
  right: -$sidebarWidth;
  width: $sidebarWidth;
  right: -($sidebarWidth + $sidebarGap);
  // margin-left: $contentMaxWidth + 2 * $contentPadding;
  // margin-left: $sidebarGap;
  
  background: $lighterGray;
  @include block-shadow;
  
  &:before {
    content: ' ';
    position: absolute;
    left: 0px;
    top: 12px;
    @include triangle(right, $white, 13px);
  }
  
  // hide it completely? - philer
  @media only screen and (max-width: $sidebarBreakPoint) {
    width: $sideElementWidthCollapsed;
    right: -$sideElementWidthCollapsed;
    
    .side-element-inner {
      position: relative;
      
      visibility: hidden;
      margin-right: $sideElementWidthCollapsed;
      
      width: $sidebarWidth;
      right: $sidebarWidth;
      background: $lighterGray;
    }

    .layout-toggle {
      display: block;
    }
  }

  // @media only screen and (min-width: $sidebarBreakPoint + 150px) {
  //   width: $sidebarWidth + 150px - $pagePaddingLarge;
  //   right: -($sidebarWidth + 150px - $pagePaddingLarge);
  // }

  .nav {
    &:after,
    &:before {
      clear: none;
      display: none;
    }
  }
}

.page-header {
  position: relative;

  margin: 0 0 20px 0;
  padding-top: 20px;

  background-color: $white;

  z-index: 1;
  // transition: 0.3s transform 0s;

  .nav {
    min-height: 0;
    margin: 5px 0 0 0;

    .navbar-collapse {
      padding: 0px;
    }

    &.nav-pills > li > a {
      color: $grayDark;
    }
  }
  & > h1 {
    margin: 0;
  }
}
