/* THEME */

$baseFont: Arial, serif;
$themeFont: 'Open Sans', sans-serif;


// COLORS
// $themeColor: #008FAB;

/**
 * Logofarbe, wichtigeres Blau, professionell, seriös
 */
$serloBlue: #007EC1;
// $serloBlue: #00A0DF;     //visionsummit-logo blue

/**
 * "Notfall-Blau" vorerst $serloBlau bevorzugen
 */
$serloBlueAlternative: #00B4D5;

/**
 * Mittmach-Grün
 * Farbe für Interaktion, alles was Beteiligung ermöglicht
 */
$serloGreen: #86C656;

/**
 * Flächen, Icons, Logo, große Schriften
 */
$serloGray: #404040;

/**
 * Hellere Abstufungen der Grundfarben.
 * Generell sind alle echten Tonwertabstufungen der Grundfarben erlaubt.
 */
$serloBlueLight:            lighten($serloBlue, 35%);
$serloBlueAlternativeLight: lighten($serloBlueAlternative, 35%);
$serloGreenLight:           lighten($serloGreen, 35%);
$serloGrayLight:            lighten($serloGray, 35%);


$themeColor: $serloBlue;
$themeColorLight: lighten($themeColor, 5%);
$secondaryColor: #2f6c61;
$backgroundColor: #E4E6E6;

$white: white;
$black: black;
$grayDark: #333333;
$gray: #4B4D4C;
$darkGray: darken($gray, 8%);
$darkerGray: darken($gray, 18%);
$lightGray: lighten($gray, 34%);
$lighterGray: #F8F8F8;



// TOP NAV BAR
$navbarBackground: #FBFBFB;
$navbarBackgroundHighlight: $navbarBackground;

// FOOTER
$footerBackground: #FFF;

// BORDER RADIUS OVERRIDE
$border-radius-base: 2px;
$border-radius-large: 4px;
$border-radius-small: 1px;



// MAIN LAYOUT
$minWidth: 400px;
$maxWidth: 1350px;

$sidebarWidth: 200px;
$sidebarGap: 7px;

// $contentWidth: 700px;
// $contentMaxWidth: $maxWidth - 2*$sidebarWidth - 2*$sidebarGap;
$contentPadding: 20px;

$navigationWidth: $sidebarWidth;
$navigationMargin: 0;

$headerBreakPoint: 600px;

$footerHeight: 320px;

$sideElementWidthCollapsed: 40px;

// Navigation Breakpoint Grid
// $navigationBreakPoint: 1002px;
$navigationBreakPoint: 1200px;

// Sidebar Breakpoint Grid
// $sidebarBreakPoint: 1200px;
$sidebarBreakPoint: 1002px;

// Full Stack Breakpoint Grid
$fullStackBreakPoint: 1350px;

// $pagePaddingSmall: 15px;
// $pagePaddingMedium: 20px;
$pagePaddingSmall: 0px;
$pagePaddingMedium: 15px;
$pagePaddingLarge: 30px;

// NAVBAR LIGHT
$navbarLightBackground: $white;
$navbarLightBackgroundHighlight: $secondaryColor;
$navbarLightBorder: $white;

$navbarLightText: $secondaryColor;
$navbarLightLinkColor: $secondaryColor;
$navbarLightLinkColorHover: $white;
$navbarLightLinkColorActive: $navbarLightLinkColorHover;
$navbarLightLinkBackgroundHover: $secondaryColor;
$navbarLightLinkBackgroundActive: $secondaryColor;

$navbarLightSearchBackground: lighten($navbarLightBackground, 25%);
$navbarLightSearchBackgroundFocus: $white;
$navbarLightSearchBorder: $navbarLightBackground;
$navbarLightSearchPlaceholderColor: #ccc;

$navbarLightBrandColor: $navbarLightLinkColor;

/* Z INDEXES */

$sideElementZIndex: 12;
$headerZIndex: 13;

/* SIDE NAVS */
// $sideNavTopOffset: 26px;
$sideNavTopOffset: 0;

/* GRID BOXES */
$gridBoxWidth: 200px;
