/* THEME */

$baseFont: Arial, serif;
$themeFont: 'Open Sans', sans-serif;

// $themeColor: #008FAB;
$themeColor: #007EC1;
// $themeColor: #00A0DF; //visionsummit-logo blue
$themeColorLight: lighten($themeColor, 5%);

$secondaryColor: #2f6c61;

$white: white;
$grayDark: #333333;
$gray: #4B4D4C;
$darkGray: darken($gray, 8%);
$darkerGray: darken($gray, 18%);
$lightGray: lighten($gray, 34%);
$lighterGray: #F8F8F8;
$backgroundColor: #E4E6E6;

// TOP NAV BAR
$navbarBackground: #FBFBFB;
$navbarBackgroundHighlight: $navbarBackground;

// FOOTER
$footerBackground: #FFF;

// BORDER RADIUS OVERRIDE
$border-radius-base: 2px;
$border-radius-large: 4px;
$border-radius-small: 1px;

// MAIN LAYOUT
$minWidth: 400px;

$navigationWidth: 200px;
$navigationMargin: 0;
$contentWidth: 700px;
$contentPadding: 20px;
$sidebarWidth: 200px;
$contentMaxWidth: 1050px;
$headerBreakPoint: 600px;

$footerHeight: 320px;

$sideElementWidthCollapsed: 40px;

// Navigation Breakpoint Grid
$navigationBreakPoint: 1002px;

// Sidebar Breakpoint Grid
$sidebarBreakPoint: 1200px;

// Full Stack Breakpoint Grid
$fullStackBreakPoint: 1350px;

$pagePaddingSmall: 15px;
$pagePaddingMedium: 20px;
$pagePaddingLarge: 30px;

// NAVBAR LIGHT
$navbarLightBackground: $white;
$navbarLightBackgroundHighlight: $secondaryColor;
$navbarLightBorder: $white;

$navbarLightText: $secondaryColor;
$navbarLightLinkColor: $secondaryColor;
$navbarLightLinkColorHover: $white;
$navbarLightLinkColorActive: $navbarLightLinkColorHover;
$navbarLightLinkBackgroundHover: $secondaryColor;
$navbarLightLinkBackgroundActive: $secondaryColor;

$navbarLightSearchBackground: lighten($navbarLightBackground, 25%);
$navbarLightSearchBackgroundFocus: $white;
$navbarLightSearchBorder: $navbarLightBackground;
$navbarLightSearchPlaceholderColor: #ccc;

$navbarLightBrandColor: $navbarLightLinkColor;

/* Z INDEXES */

$sideElementZIndex: 12;
$headerZIndex: 13;

/* SIDE NAVS */
$sideNavTopOffset: 26px;

/* GRID BOXES */
$gridBoxWidth: 200px;
