{% if isGranted('event.log.get', entity) %}
    <li>
        <a href="{{ url('event/history/object', {'id': entity.getId()}) }}">
            <span class="glyphicon-regular glyphicon-log-book"></span>
            {% trans %} Log {% endtrans %}
        </a>
    </li>
{% endif %}