/* Serlo Menu */
/* top navbar */
#serlo-menu {
  // border: none;

  // @include bar();

  // font-size: 0.8em;
  // border-radius: 0;
  // min-height: 0;

  li {
    // line-height: 23px;
    float: left;
  }

  a {
    // padding-top: 6px;
    // padding-bottom: 4px;
  }

  .navbar-nav {
    // float: left;
  }

  .navbar-inner {
    // padding-left: 0;
    // padding-right: 0;
  }

  .container {
    // min-width: 750px;
    // @extend .container;
  }
}