@import "compass/css3";

#navigation {
  position: relative;
  z-index: 90;

  @include theme-font();
}

#navigation-container {
  position: absolute;
  width: $navigationWidth;
  height: auto;
  top: 20px;
  left: 1px; // 1px left, to overlap #content's 1px border; */
  margin: 0;

  @media only screen and (max-width: $navigationBreakPoint) {
    width: 40px;

    .slide-right & {
      width: $navigationWidth + 40;
    }
  }

  .slide-left & {
    display: none;
  }
}

#navigation-toggle {
  display: none;

  @media only screen and (max-width: $navigationBreakPoint) {
    display: block;

    @include background(linear-gradient(right, darken($gray, 3%), $gray 12px, $gray));

    &:hover {
      box-shadow: -2px 0 4px darken($themeColor, 8%) inset;
      background: $themeColor;
      color: white;
    }
  }
}

#navigation-content {
  @media only screen and (max-width: $navigationBreakPoint) {
    visibility: hidden;

    .slide-right & {
      visibility: visible;
      margin-left: 40px;
    }
  }
}

#main-nav {
  margin-left: 0; // IE7 :)))
  width: $navigationWidth;

  > li {
    > a {
      padding: 14px 12px 12px;
      font-size: 14px;
      font-weight: bold;

      color: white;

      background: $gray;
      @include background(linear-gradient(right, darken($gray, 3%), $gray 12px, $gray));

      &:hover {
        background: $themeColor;
        @include background(linear-gradient(right, darken($themeColor, 4%), $themeColor 12px, $themeColor));
        color: white;
      }

      .caret {
        float: right;
        margin-top: 8px;

        border-top-color: white;
        border-bottom-color: white;
      }
    }

    + li {
      margin-top: 2px;
    }
  }

  .is-active > a {
    background: $themeColor;
    @include background(linear-gradient(right, darken($themeColor, 4%), $themeColor 12px, $themeColor));
    color: white;
  }

  li ul {
    display: none;
  }

  .is-nav-active {
    a {
      background: $themeColor;
    }
  }
}

#serlo-side-sub-navigation {
  position: absolute;
  top: -70px;
  left: $navigationWidth;
  background: $themeColor;
  width: 300px;
  height: 400px;

  z-index: 1;
  overflow: hidden;

  box-shadow: 0 0 3px rgba(90, 90, 90, 0.6);
  transform: translateZ(0);

  a {
    color: white;

    &:hover {
      text-decoration: none;
      .fa {
        color: $lighterGray;
      }
    }
  }

  .fa {
    position: absolute;
    top: 9px;
    left: -5px;
  }

  .sub-nav-header {
    font-size: 17px;
    font-weight: bold;

    padding: 16px 0 10px;
    margin-left: 24px;

    .fa {
      top: 25px;
      left: -10px;
    }
  }

  .sub-nav-footer {
    margin-top: 12px;
  }

  .slide-right & {
    left: $navigationWidth + 40;

    @media only screen and (max-width: $screen-xs) {
      left: 75px;
    }
  }
}

#serlo-side-sub-navigation-mover {
  position: relative;
  height: 100%;

  white-space: nowrap;

  .sub-nav-slider {
    position: relative;
    @include inline-block;
    width: 100%;
    height: 100%;

    white-space: normal;
  }

  ul {
    padding-left: 0;
    margin: 0;
  }

  li {
    position: relative;

    margin-left: 20px;

    list-style: none;
    font-size: 12px;
    a {
      display: block;
      padding: 8px 12px 8px;
    }
  }
}

#serlo-side-navigation-breadcrumbs {
  a {
    padding: 5px 15px 5px 30px;

    background: $themeColor;
    @include background(linear-gradient(right, darken($themeColor, 4%), $themeColor 12px, $themeColor));

    color: white;
    font-size: 0.85em;
  }

  + li {
    margin-top: 2px;
  }
}