#subject-nav {
  .dropdown {
    z-index: 2;
  }

  .dropdown-toggle {
    display: inline-block;
    z-index: 12;

    padding-top: 18px;
    margin-left: 12px;

    cursor: pointer;
    border-bottom: 2px solid transparent;

    line-height: 43px;
    font-size: 38.5px;

    color: $themeColor;
    text-transform: lowercase;

    @include theme-font(bold);

    &:hover,
    &:focus {
      text-decoration: none;
      border-color: $themeColor;
    }
  }

  .open .dropdown-menu {
    display: block;

    top: 5px;
    left: 0px;

    padding: 75px 20px 20px;
    width: 360px;

    z-index: -1;
  }

  .caret {
    margin-left: 10px;
    border-width: 7px;
    border-top-color: $themeColor;
    border-bottom: none;
  }

  h4 {
    margin-top: 0;
    padding: 7px 0;
  }

  .row {
    border-top: 1px solid $lighterGray;
  }
}

.slogan {
  @include theme-font();
  padding: 0.3em 0.2em;
  font-size: 1.2em;
  font-style: italic;
  color: $lightGray;
}

