{% if revision %}
    <article itemscope itemtype="http://schema.org/Article">
        <header>
            {% include 'page/partials/head' %}
        </header>
        <section itemprop="articleBody">
            {{ markdown().toHtml(revision.getContent()) }}
        </section>
    </article>
{% endif %}
{% if page.getDiscussionsEnabled() or page.getForum() %}
    {% set discussions %}
        <section id="discussion-{{ page.getId() }}" class="discussions clearfix">
            {{ discussion(page).render() }}
        </section>
    {% endset%}
    {% do placeholder('discussions').set(discussions) %}
{% endif %}
