{% if revision %}
    <article itemscope itemtype="http://schema.org/Article">
        <header>
            {% include 'page/partials/head' %}
        </header>
        <section itemprop="articleBody">
            {{ markdown().toHtml(revision.getContent()) }}
        </section>
    </article>
{% endif %}
{% if page.getDiscussionsEnabled() or page.getForum() %}
    {{ discussion(page).render() }}
{% endif %}