{% if revision %}
    {% set convert = convert is defined and convert %}
    {% set renderer = convert or revision.isOryEditorFormat() ? oryRenderer() : markdown() %}
    <article itemscope itemtype="http://schema.org/Article">
        <header>
            {% include 'page/partials/head' %}
        </header>
        <section itemprop="articleBody" class="editable" data-id="{{ page.getId() }}" data-edit-field="content" data-edit-type="ory">
            {{ renderer.toHtml(revision.getContent()) }}
        </section>
    </article>
{% endif %}
{% if page.getDiscussionsEnabled() or page.getForum() %}
    {% set discussions %}
        <section id="discussion-{{ page.getId() }}" class="discussions clearfix">
            {{ discussion(page).render() }}
        </section>
    {% endset%}
    {% do placeholder('discussions').set(discussions) %}
{% endif %}
