{% set options = entity().getOptions(entity) %}
{% if options.hasComponent('repository') %}
    {% if not entity.isUnrevised() and isGranted('entity.revision.create', entity)
        and not convert and not entity().isOryEditorFormat(entity.getCurrentRevision()) %}
    <li>
        <a rel="nofollow" href="{{ url('entity/page/convert', {'entity': entity.getId()}) }}" class="convert-button" data-content-id="{{ entity.getId() }}">
            <span class="fa fa-pencil"></span>
            {% trans %} Convert {% endtrans %}
        </a>
    </li>
    {% endif %}
{% endif %}
