{% set options = entity().getOptions(entity) %}
{% if options.hasComponent('repository') %}
    <div class="btn btn-default btn-xs hidden-xs"  data-target="{{ url('entity/repository/add-revision', {'entity': entity.getId()}) }}">
        <span>{% trans %} Edit {% endtrans %}</span>
    </div>
{% endif %}