{% set options = entity().getOptions(entity) %}
{% if options.hasComponent('repository') %}
    <li>
        <a href="{{ url('entity/repository/add-revision', {'entity': entity.getId()}) }}">
            <span class="glyphicon glyphicon-pencil"></span>
            {% trans %} Edit {% endtrans %}
        </a>
    </li>
{% endif %}