{% set options = entity().getOptions(entity) %}
{% if options.hasComponent('repository') %}
    <a rel="nofollow" class="btn btn-default" href="{{ url('entity/repository/add-revision', {'entity': entity.getId()}) }}">
        <span class="fa fa-pencil"></span>
    </a>
{% endif %}