{% set options = entity().getOptions(entity) %}
{% if options.hasComponent('repository') %}
    <li class="edit-control hidden hidden-xs" data-toggle="tooltip" data-placement="bottom"
        title="{% trans %} I want to edit this {% endtrans %}">
        <a href="{{ url('entity/repository/add-revision', {'entity': entity.getId()}) }}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
    </li>
{% endif %}