{% set options = entity().getOptions(entity) %}
{% if options.hasComponent('repository') %}
    <a class="btn btn-default btn-xs hidden-xs" href="{{ url('entity/repository/add-revision', {'entity': entity.getId()}) }}">
        {% trans %} Edit {% endtrans %}
    </a>
{% endif %}