<div class="clearfix">
    <div class="btn-group pull-right">
        <a class="btn btn-xs btn-default"
           href="{{ url('navigation/parameter/create', {'page': page.getId(), 'parent': parameter.getId()}) }}">
            <span class="fa fa-plus"></span></a>
        <a class="btn btn-xs btn-default"
           href="{{ url('navigation/parameter/update', {'parameter': parameter.getId()}) }}">
            <span class="fa fa-pencil"></span>
        </a>
        {% set trashbutton %}
        <button class="btn btn-xs btn-danger">
            <span class="fa fa-trash"></span>
        </button>
        {% endset %}
        {% do form.setAttribute('action', url('navigation/parameter/remove', {'parameter': parameter.getId()})) %}
        {% include 'common/csrfform' with {'form': form, 'sendbutton': trashbutton} %}
    </div>
    <span class="label label-primary">{{ parameter.getKey() }}</span>
{% if parameter.hasChildren() %}
    </div>
    <ul class="list-group">
        {% for child in parameter.getChildren() %}
            <li class="list-group-item">
                {% include 'navigation/parameter/view' with {'parameter': child, 'page': page} %}
            </li>
        {% endfor %}
    </ul>
{% else %}
        {{ parameter.getValue() }}
    </div>
{% endif %}