{% set options = entity().getOptions(entity) %}
{% if options.hasComponent('link') %}
    {% set componentOptions = options.getComponent('link') %}
    {% for type in componentOptions.getAllowedChildren() %}
        {% set allowsManyChildren = componentOptions.allowsManyChildren(type) %}
        {% set count = entity.getChildren('link', type).count() %}
        {% if (allowsManyChildren or (not(allowsManyChildren) and count < 1)) and isGranted('entity.link.create', entity) %}
            <li>
                <a href="{{ url('entity/create', {'type': type}, {'query': {'link': {'type': 'link', 'child': entity.getId()}}}) }}">
                    <span class="glyphicon glyphicon-plus"></span>
                    {% trans %}
                        Add {{ type }}
                    {% endtrans %}
                </a>
            <li>
        {% endif %}
    {% endfor %}
{% endif %}