@import "compass/css3";

.is-inline-block {
  @include inline-block;
}

.is-hidden {
  display: none;
}

.is-invisible {
  visibility: hidden;
}

.is-bold {
  font-weight: bold;
}

.is-normal {
  font-weight: normal;
}

.is-light {
  fot-weight: light;
}