{% do placeholder('hideSubjectNav').set(true) %}

{{ pageHeader('Activate an account' | trans) }}
<ul>
    {% for message in messages %}
        <li>{{ message | trans }}</li>
    {% endfor %}
</ul>
{{ form().render(form) }}
