{% set options = entity().getOptions(entity) %}
{% if options.hasComponent('related_content') %}
    <li>
        <a href="{{ url('related-content/manage', {'id': entity.getId()}) }}">
            <span class="glyphicon glyphicon-link"></span>
            {% trans %} Manage related items {% endtrans %}
        </a>
    </li>
{% endif %}