{% set discussions = discussion().getDiscussions(object) %}
<div class="panel panel-default discussions">
    <div class="panel-heading">
        <span class="fa fa-comments"></span>
        <h3 class="panel-title">{% trans %} Discussions {% endtrans %}</h3>
        <span class="label label-info">{{ discussions.count() }}</span>
    </div>
    <div class="panel-body">
        <ul class="list-group discussions">
            {% if isGranted('discussion.create') %}
                {% set form = discussion().getForm('discussion', object, forum, normalize().toUrl(entity)) %}
                <li class="list-group-item">
                    <div class="discussion-head">
                        <strong>
                            {% trans %} Start a new discussion {% endtrans %}
                        </strong>
                    </div>
                    <div class="discussion-text">
                        {{ form().render(form, null) }}
                    </div>
                </li>
            {% endif %}
            {% for discussion in discussions %}
                <li class="list-group-item">
                    {% include 'discussion/discussion/show' with {'discussion': discussion} only %}
                </li>
            {% else %}
                <li class="list-group-item">
                    <div class="discussion-text">
                        <span class="text-muted">{% trans %} There are no discussions on this topic yet. {% endtrans %}</span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>