{% if entity.hasCurrentRevision() %}
        <a href="{{ url('entity/page', {'entity': entity.getId()}) }}">
            {{ entity.getCurrentRevision().get('title') }}
        </a>
{% elseif entity.hasHead() and entity.isUnrevised() %}
        <a href="{{ url('entity/page', {'entity': entity.getId()}) }}">
            {{ entity.getHead().get('title') }}
        </a>
{% endif %}
