{% if entity.hasCurrentRevision() %}
    <p>
        <a href="{{ url('entity/page', {'entity': entity.getId()}) }}">
            {{ entity.getCurrentRevision().get('title') }}
        </a>
    </p>
{% elseif entity.hasHead() and entity.isUnrevised() %}
    <p>
        <a href="{{ url('entity/page', {'entity': entity.getId()}) }}">
            {{ entity.getHead().get('title') }}
        </a>
    </p>
{% endif %}
