{% do placeholder('breadcrumbs').set('<li><span>Aktualisierungen: Datenschutzerklärung</span></li>') %}

<div class="r">
    <div class="c24">
        <h2>Aktualisierungen: Datenschutzerklärung</h2>

        <p>In diesem Archiv findest du die vorherigen Fassungen unserer Datenschutzerklärung.</p>

        <ul>
            <li><a href="/datenschutz">Aktuelle Version</a></li>
            <li><a href="/datenschutz/archiv/20181017">17. Oktober 2018</a></li>
        </ul>
    </div>
</div>
