{{ pageHeader(discussion.getTitle()) }}
<div class="discussions">
    {% include 'discussion/helper/default/discussion' with {'discussion': discussion, 'blockquoteClass': '', 'leftWidth': 2} only %}
</div>