{% set controls = include('entity/view/partials/actions/controls') %}
{% do placeholder('controls').set(controls) %}
{% do placeholder('isLeaf').set(true) %}
{% do placeholder('breadcrumbs').set('<li><span>' ~ title ~ '</span></li>') %}