{% set title = 'Datenschutzerkl채rung' ~ (archived ? ' (archiviert)' : '')  %}
{% do placeholder('breadcrumbs').set('<li><span>' ~ title ~ '</span></li>') %}

{% if archived %}
    <div class="alert alert-info" style="margin-top: 20px;">
        Dies ist eine archivierte Version unserer Datenschutzerkl채rung. Die aktuelle Version findest du <a href="/datenschutz">hier</a>.
    </div>
{% endif %}

{% set prefix = archived ? 'zuletzt ge채ndert am' : 'wirksam ab dem' %}
{{ pageHeader('Datenschutzerkl채rung').setSubtitle(prefix ~ ' ' ~ date).render() }}

{% if not archived %}
    <a href="/datenschutz/archiv">Archivierte Versionen</a>
{% endif %}
