<div class="page-header">
    <div class="pull-right btn-group hidden-xs">
        {% include 'taxonomy/term/templates/partials/controls' %}
        {{ contexter().renderButton() }}
    </div>
    {% if term.hasParent() %}
        <ul class="nav nav-pills pull-left">
            <li>
                <a href="{{ url('taxonomy/term/get', {'term': term.getParent().getId()}) }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </li>
        </ul>
    {% endif %}
    <h1>{{ term.getName() }}</h1>

    <div class="edit-control hidden">
        {% include 'taxonomy/term/templates/partials/actions' %}
    </div>
</div>
{% include 'taxonomy/term/page/partials/alerts' %}
{% include 'taxonomy/term/templates/default' %}