{% set renderer = entity().isOryEditorFormat(revision) ? oryRenderer() : markdown() %}
{% for field in revision.getFields() %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ field.getName()  | trans }}</div>
        <div class="panel-body">
            {{ renderer.toHtml(field.getValue()) }}
        </div>
    </div>
{% endfor %}
