{% set revision = entity.getCurrentRevision() %}
{% set wrongContent = 'Nope. Try again!' | trans %}
{% set defaultFeedback = '<p>' ~ wrongContent ~ '</p>' %}
{% set displayContent = 'This answer has been created but no content has been added yet or it is pending approval.' | trans %}
{% set feedbackContent = '' %}
{% if revision %}
    {% set feedbackContent = renderer.toHtml(revision.get('feedback')) %}
    {% set displayContent = renderer.toHtml(revision.get('content')) %}
{% endif %}
{% set feedback = feedbackContent ? feedbackContent : defaultFeedback %}

<div class="col-sm-3 multiple-choice-answer-group" itemprop="articleBody">
    <button class="btn multiple-choice-answer-content button-default"
            name="multiple-choice-answer-choice-{{  parent.getID() }}"
            data-correct="{{ right }}">
        {{ displayContent | raw }}
    </button>
    {% if not right %}
        <div class="multiple-choice-answer-feedback collapse">
            <div class="alert alert-warning">
                {{ feedback | raw }}
            </div>
        </div>
    {% endif %}
</div>
