{% if isGranted('entity.link.order', entity) %}
    <button class="btn btn-xs btn-default sortable-activate-action">
        <span class="fa fa-sort"></span>
    </button>
    <button class="btn btn-xs btn-success sortable-save-action is-hidden">
        <span class="fa fa-floppy-o"></span>
    </button>
    <button class="btn btn-xs btn-default sortable-abort-action is-hidden">
        <span class="fa fa-trash-o"></span>
    </button>
{% endif %}