{% if isGranted('entity.link.order', entity) %}
    <button class="btn btn-xs btn-default sortable-activate-action">
        <span class="glyphicon glyphicon-sort"></span>
    </button>
    <button class="btn btn-xs btn-success sortable-save-action is-hidden">
        <span class="glyphicon glyphicon-floppy-save"></span>
    </button>
    <button class="btn btn-xs btn-default sortable-abort-action is-hidden">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
{% endif %}