{% set revision = entity.getCurrentRevision() %}
{% set solution = entity.getChildren('link', 'text-solution').first() %}
{% set hint = entity.getChildren('link', 'text-hint').first() %}
<article itemscope itemtype="http://schema.org/Article">
    <section class="row">
        <div class="col-xs-10 col-sm-8 col-md-9" itemprop="articleBody">
            {{ markdown().toHtml(revision.get('content')) | raw }}
        </div>
        <div class="col-xs-2 col-sm-4 col-md-3">
            <div class="pull-right">
                {% if hint %}
                    <div class="btn btn-default btn-xs" data-toggle="collapse" data-target="#hint-{{ hint.getId() }}">
                        {% trans %} Show hint {% endtrans %}
                    </div>
                {% endif %}
                {% if solution %}
                    <div class="btn btn-default btn-xs" data-toggle="collapse" data-target="#solution-{{ solution.getId() }}">
                        {% trans %} Show solution {% endtrans %}
                    </div>
                {% endif %}
                {% include 'entity/view/partials/actions/small-essential' %}
            </div>
        </div>
    </section>
    {% if hint %}
        <section>
            {% include 'entity/view/default' with {'entity': hint, 'collapse': true} only %}
        </section>
    {% endif %}
    {% if solution %}
        <section>
            {% include 'entity/view/default' with {'entity': solution, 'collapse': true} only %}
        </section>
    {% endif %}
</article