// mixin for the big bars (header/footer)
@mixin bar($located: 'top') {
  background: $navbar-default-bg;

  // WebKit vs Gecko: http://stackoverflow.com/questions/10662902/css-outline-different-behavior-behavior-on-webkit-gecko
  //outline: 1px solid #C5C5C5;
  box-shadow: 0px 0px 0px 1px #c5c5c5;

  @if $located == 'top' {
    border-bottom: 1px solid white;
  } @else {
    border-top: 1px solid white;
  }
}

// @mixin bar($located: "top") {
//     background: white;

//     @if $located == "top" {
//         border-bottom: 2px solid $themeColor;
//     } @else {
//         border-top: 2px solid $themeColor;
//     }
// }
