@mixin grid($prefix, $cols, $breakpoints...) {
  .#{$prefix}-row {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

  @for $i from 1 through $cols {
    .#{$prefix}-col-#{$i} {
      position: relative;
      min-height: 1px;
      float: left;
      width: percentage(($i / $cols));
    }
  }

  @each $breakpoint in $breakpoints {
    @for $i from 1 through $cols {
      .#{$prefix}-col-#{nth($breakpoint, 1)}-#{$i} {
        position: relative;
        min-height: 1px;
      }

      @media (min-width: nth($breakpoint, 2)) {
        .#{$prefix}-col-#{nth($breakpoint, 1)}-#{$i} {
          float: left;
          width: percentage(($i / $cols));
        }
      }
    }
  }
}
