.top-buffer-05 {
  margin-top: 0.5em;
}

.top-buffer-10 {
  margin-top: 1em;
}

.top-buffer-15 {
  margin-top: 1.5em;
}

.top-buffer-20 {
  margin-top: 2em;
}

.top-buffer-25 {
  margin-top: 2.5em;
}

.top-buffer-30 {
  margin-top: 3em;
}

.bottom-buffer-05 {
  margin-bottom: 0.5em;
}

.bottom-buffer-10 {
  margin-bottom: 1em;
}

.bottom-buffer-15 {
  margin-bottom: 1.5em;
}

.bottom-buffer-20 {
  margin-bottom: 2em;
}

.bottom-buffer-25 {
  margin-bottom: 2.5em;
}

.bottom-buffer-30 {
  margin-bottom: 3em;
}
