<div class="modal fade" id="editorIntroduction" tabindex="-1" role="dialog" aria-labelledby="editorIntroductionLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l7WknEvcVQk?html5=1&amp;hl={{ currentLanguage() }}&amp;showinfo=0"></iframe>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ translate('Close') }}</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">{{ translate('Don\'t show again') }}</button>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
    $(document).ready(function () {
        var showVideo = document.cookie.replace(/(?:(?:^|.*;\s*)hideVideo\s*\=\s*([^;]*).*$)|^.*$/, '$1') != 1;

        if (showVideo) {
            $('#editorIntroduction').modal('show');

            $('#editorIntroduction').on('hidden.bs.modal', function () {
                $('#editorIntroduction .embed-responsive-item').attr('src', $('#editorIntroduction .embed-responsive-item').attr('src'));
            });

            $('#editorIntroduction .btn-danger').click(function () {
                document.cookie = 'hideVideo=1';
            });
        }
    });
</script>
