<div class="feedback-action" style="display: inline-block; margin-right: -4px;" data-user="{{ user().getAuthenticatedUserID() }}" data-object="{{ entity.getId() }}"></div>
<div class="btn-group btn-group-community">
    {% include 'entity/view/partials/actions/versioning/edit' %}
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">{{ 'Toggle Dropdown' | trans }}</span>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
        {{ subscribe(entity).subMenuItem() }}
        {% include 'entity/view/partials/actions/versioning/history' %}
        {% include 'common/share' with {'id': entity.getId()} %}
        {% include 'entity/view/partials/actions/link/add' %}
        {% include 'entity/view/partials/actions/link/update' %}
        {% include 'entity/view/partials/actions/link/sort' %}
        {% include 'entity/view/partials/actions/taxonomy/update' %}
        {% include 'entity/view/partials/actions/related-content/manage' %}
        {% include 'entity/view/partials/actions/license/update' %}
        {% include 'entity/view/partials/actions/flag/create' %}
        {% include 'entity/view/partials/actions/event/history' %}
        {% include 'entity/view/partials/actions/trash' %}
    </ul>
</div>
