{##
 # This file is part of Athene2.
 #
 # Copyright (c) 2013-2019 Serlo Education e.V.
 #
 # Licensed under the Apache License, Version 2.0 (the "License")
 # you may not use this file except in compliance with the License
 # You may obtain a copy of the License at
 #
 #    http://www.apache.org/licenses/LICENSE-2.0
 #
 # Unless required by applicable law or agreed to in writing, software
 # distributed under the License is distributed on an "AS IS" BASIS
 # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 # See the License for the specific language governing permissions and
 # limitations under the License.
 #
 # @copyright Copyright (c) 2013-2019 Serlo Education e.V.
 # @license   http://www.apache.org/licenses/LICENSE-2.0 Apache License 2.0
 # @link      https://github.com/serlo-org/athene2 for the canonical source repository
 #}
<div class="hidden-xs btn-group">
    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="fa fa-cog"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {% if subitems is defined %}
            {% for item in subitems %}
                <li class="dropdown-submenu"><a href="#" tabindex="-1" rel="nofollow">{{ 'Subitem' | trans }} {{ loop.index }}</a>
                    <ul class="dropdown-menu left" role="menu">
                        {% include 'entity/view/partials/actions/essentials' with {'entity' : item} %}
                    </ul>
                </li>
            {% endfor %}
        {% endif %}
        {% include 'entity/view/partials/actions/essentials' %}
    </ul>
</div>
