<div class="hidden-xs btn-group">
    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="fa fa-cog"></span>
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {% if subitems is defined %}
            {% for item in subitems %}
                <li class="dropdown-submenu"><a href="#" tabindex="-1" rel="nofollow">{{ 'Subitem' | trans }} {{ loop.index }}</a>
                    <ul class="dropdown-menu left" role="menu">
                        {% include 'entity/view/partials/actions/essentials' with {'entity' : item['entity']} %}
                    </ul>
                </li>
            {% endfor %}
        {% endif %}
        {% include 'entity/view/partials/actions/essentials' %}
    </ul>
</div>