<div class="btn btn-default" data-toggle="edit-controls">
    <span class="fa fa-pencil"></span>
</div>
<div class="btn btn-default" data-toggle="discussions" data-target="#discussion-{{ entity.getId() }}">
    <span class="fa fa-comments"></span>
</div>