<div class="btn btn-default" data-toggle="edit-controls">
    <span class="glyphicon glyphicon-pencil"></span>
</div>
<div class="btn btn-default" data-toggle="discussions" data-target="#discussion-{{ entity.getId() }}">
    <span class="glyphicon glyphicon-comment"></span>
</div>