{% if isGranted('entity.trash', entity) %}
    <li>
        {% set trashbutton %}
        <button class="btn dropdown-menu-item">
            <span class="fa fa-trash"></span>
            {% trans %} Move to trash {% endtrans %}
        </button>
        {% endset %}
        {% include 'uuid/trash' with {'uuid': entity.getId(), 'sendbutton': trashbutton} %}
    </li>
{% endif %}