{% if isGranted('entity.trash', entity) %}
    <li>
        {% set trashbutton %}
        <button class="btn dropdown-menu-item">
            <span class="fa fa-trash"></span>
            {% trans %} Move to trash {% endtrans %}
        </button>
        {% endset %}
        {% include 'common/csrfform' with {'form': uuidForm().getTrashForm(entity.getId()), 'sendbutton': trashbutton} %}
    </li>
{% endif %}