{% if not entity.getTrashed() and isGranted('entity.trash', entity) %}
    <li>
        {% set trashbutton %}
        <button class="btn dropdown-menu-item">
            <span class="fa fa-trash"></span>
            {% trans %} Move to trash {% endtrans %}
        </button>
        {% endset %}
        {% include 'common/csrfform' with {'form': uuidForm().getTrashForm(entity.getId()), 'sendbutton': trashbutton} %}
    </li>
{% elseif entity.getTrashed() and isGranted('entity.restore', entity) %}
    <li>
        <a rel="nofollow" href="{{ url('uuid/restore', {'id' : entity.getId()}) }}">
            <span class="fa fa-recycle"></span>
            {% trans %}
                Restore
            {% endtrans %}
        </a>
    </li>
{% endif %}
