{% set event = notification.getEvents().current() %}
{% set user = normalize().toAnchor(event.getActor(), true) %}
{% set reason = event.getParameter('reason') %}
{% set repository = normalize().toAnchor(event.getParameter('repository'), true) %}
{% set url = normalize().toUrl(event.getObject(), true) %}
{% set revision = '<a href="' ~ url ~ '">' ~ 'revision'|trans ~ '</a>' %}
<div class="dropdown-menu-item">
    {% trans %}
    {{ user }} created a {{ revision }} in {{ repository }}
    {% endtrans %}
    <small> - {{ timeago().render(event.getTimestamp()) }}</small>
</div>