/* BODY / HTML*/
body, html {
  width: 100%;
  height: 100%;
}

html {
  background: $backgroundColor;
}

body {
  background: none transparent;

  transform-origin: 50% 250px;

  overflow-x: hidden;
  overflow-y: scroll;
  // ios overfloy-x hidden fix
  position: relative;
  -webkit-overflow-scrolling: touch;

  font-family: $baseFont;
}

h1 {
  font-size: 30px;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -1 * $footerHeight; /* the bottom margin is the negative value of the footer's height */

  @media only screen and (max-width: $screen-sm) {
    margin: 0 auto;
  }
}
