@mixin contentColumnWidth($num, $grid, $gutter) {
  width: (100 / $grid) * $num * 1%;
  box-sizing: border-box;
  padding: 0 ($gutter/2);
  float: left;

  .content-editor & {
    min-height: 20px;
    cursor: pointer;

    &:hover {
      outline: 1px dotted #C5C5C5;
    }

    &.active {
      outline: 2px solid lightskyblue;
    }

  }
}

.content {
  $gutter: 30px;
  $grid: 24;

  .r {
    margin-left: $gutter / -2;
    margin-right: $gutter / -2;
    // padding-bottom: 18px;
    // @extend %clearfix;
    @include clearfix();

    .content-editor & {
      position: relative;
      // brower paint optimization hack
      transform: translateZ(0);

      .row-actions {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }

  @for $i from 1 through $grid {
    .c#{$i} {
      @include contentColumnWidth($i, $grid, $gutter);
    }
  }

  img {
    max-width: 100%;
  }
}