/* THEME */

$baseFont: Arial, serif;
$themeFont: 'Open Sans', sans-serif;

// $themeColor: #008FAB;
$themeColor: #007EC1;
// $themeColor: #00A0DF; //visionsummit-logo blue
$themeColorLight: lighten($themeColor, 5%);

$gray: #4B4D4C;
$darkGray: darken($gray, 8%);
$darkerGray: darken($gray, 18%);
$lightGray: lighten($gray, 34%);
$lighterGray: lighten($gray, 50%);
$backgroundColor: #E4E6E6;

// TOP NAV BAR
$navbarBackground: #FBFBFB;
$navbarBackgroundHighlight: $navbarBackground;

// FOOTER
$footerBackground: #FFF;

// MAIN LAYOUT
$navigationWidth: 200px;
$navigationMargin: 0;
$contentWidth: 740px;
$sidebarWidth: 200px;

$footerHeight: 320px;

// Navigation Breakpoint Grid
$navigationBreakPoint: 1200px;
$gridGutterWidthNavigation: 16px;
$gridColumnWidthNavigation: 67px;

// Sidebar Breakpoint Grid
$sidebarBreakPoint: 992px;
// $gridGutterWidthSidebar: 8px;
$gridColumnWidthSidebar: 61px;

// Full Stack Breakpoint Grid
$fullStackBreakPoint: 1350px;
$gridGutterWidthFullStack: 30px;
$gridColumnWidthFullStack: 85px;
