#header-nav {
  font-size: 36px;
  height: 75px;
  line-height: 75px;
  margin-top: 50px;

  @media (min-width: $navigationBreakPoint-min) {
    .authentification,
    .notifications {
      display: none;
    }
  }

  #mobile-nav-toggle {
    display: inline-block;
    position: relative;

    button {
      margin-left: $pagePaddingMedium;

      font-size: 0.75em;

      height: 1.8em;
      line-height: 1.8em;
      vertical-align: baseline;

      padding: 0;
      border: none;

      width: 1.8em;
      text-align: center;

      background-color: $gray;
      color: $lighterGray;

      @media only screen and (min-width: $navigationBreakPoint-min) {
        display: none !important;
      }
    }

    .main-headline-link,
    .main-headline-link:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  #mobile-nav-right {
    float: right;
    margin: 7px $pagePaddingMedium 0 0;

    .dropdown-menu {
      z-index: 1001;
    }
  }

  // .slogan {
  //   @include theme-font(600);
  //   position: relative;
  //   top: -5px;

  //   width: 180px;

  //   color: $gray;
  //   font-size: 0.9em;
  //   text-align: right;

  //   @media only screen and (max-width: $screen-xs-min) {
  //     top: -40px;
  //     left: 60px;
  //   }
  // }

  .subject-title {
    display: inline-block;
    margin-left: ($sidebarWidth + $sidebarGap);
    position: relative;
  }

  @media only screen and (max-width: $navigationBreakPoint-max) {
    font-size: 28px;
    line-height: 66px;
    margin-top: 0;

    #mobile-nav-toggle {
      .serlo-logo {
        display: none;
      }

      .serlo-brand {
        position: relative;
        display: inline-block;
        top: 4px;
        left: auto;
        margin-left: 5px;
      }
    }

    .subject-title {
      margin: 0;
      top: 3px;
    }
  }

  .nav {
    > li {
      text-align: center;
      > a {
        color: $gray;
        background: none;

        &:hover {
          color: $serloBlue;
          background: none;
        }

        .fa-bell:before {
          content: '\f0a2';
        }

        .caret {
          display: none;
        }
      }
    }
  }

  .navbar-nav {
    margin-left: 0;
    margin-right: 0;

    > li > a {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

#subject-nav {
  position: relative;
  padding: 0;
  clear: both;

  @include block-shadow($backgroundColor, 9px);

  .subject-nav-center {
    @include block-shadow;
  }

  .subject-nav-center {
    display: block;
    margin: 0 ($sidebarWidth + $sidebarGap) 0 0;

    background-color: $white;

    .btn-group {
      height: 100%;

      > .btn {
        padding: 14px 14px 11px;
        border-width: 0 0 0 1px;
        border-radius: none;

        &:hover,
        &:focus,
        &:active,
        &.active {
          z-index: 0;
        }
      }

      .btn-default {
        display: block;
      }
    }
  }

  .controls {
    padding-left: $pagePaddingMedium;
  }

  #subject-nav-wrapper {
    background: $backgroundColor;
  }

  #breadcrumbs {
    padding: 14px 10px 11px;
    margin: 0 10px;
    min-height: 45px;
    list-style: none;

    a {
      &,
      &:hover {
        text-decoration: none;
      }

      &:hover span {
        text-decoration: underline;
      }

      .fa-angle-left {
        margin-left: 3px;
      }
    }

    > li {
      display: inline-block;

      > span {
        font-weight: bold;
      }
    }

    .backlink {
      display: none;
    }
  }

  .backlink-only {
    .subject-nav-center {
      width: 45px;
    }

    .controls {
      display: none;
    }

    #breadcrumbs {
      padding: 9px 0 6px;
      margin: 0;

      > li {
        display: none;
      }

      .backlink {
        display: inline-block;
        font-size: 20px;
        width: 45px;

        a {
          display: block;
          text-align: center;
        }
      }
    }

    #search-content {
      width: 100%;
      margin-right: -52px;
      padding-right: 52px;
    }
  }

  .backlink-only.has-no-backlink {
    .subject-nav-center {
      width: 0;
    }

    #search-content {
      margin: 0;
      padding: 0 15px;
    }
  }

  #search-content {
    form {
      @include bottom-frame($serloBlue);
      @include block-shadow;
      background: $backgroundColor;
      top: 2px;
    }

    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $sidebarWidth;
    margin-left: $sidebarGap;

    input {
      padding-right: 0;

      &,
      &:focus {
        background: none;
      }

      color: $black;
    }
  }
}
