/* Serlo Menu */
/* top navbar */
#serlo-menu {
  @include block-shadow;

  @media only screen and (max-width: $navigationBreakPoint-max) {
    display: none;
  }

  .is-hidden {
    display: none;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 15px;
  }

  .nav.navbar-nav {
    &.navbar-border-right {
      border-right: 2px solid $backgroundColor;
    }

    & > li {
      > a.primary {
        background-color: $themeColor;
        color: $white;
        font-weight: 700;

        &:hover {
          background-color: lighten($themeColor, 5%);
        }
      }

      &.dropdown.open > a {
        background-color: $themeColor;
        color: $white;
      }

      &:hover,
      &:active {
        background-color: $themeColor;
        & > a {
          color: $white;
        }
      }
    }

    .dropdown-menu {
      position: absolute;
      background: white;
      & > li {
        &:hover,
        &:active {
          & > a {
            background-color: $themeColor;
            color: $white;
          }
        }
      }
    }
  }

  .navbar-nav {
    //float: left;
    //margin: 0;
  }

  .navbar-inner {
    //padding-left: 0;
    //padding-right: 0;
  }

  .navbar-collapse.in,
  .navbar-collapse.collapsing {
    & li,
    & .navbar-nav {
      @media only screen and (max-width: $screen-xs-max) {
        //float: none;
      }
    }
  }

  .container {
    // min-width: 750px;
    // @extend .container;
  }
}
