{% if isGranted('flag.create', entity) %}
    <li>
        <a rel="nofollow" href="{{ url('flag/add', {'id': entity.getId()}) }}">
            <span class="fa fa-flag"></span>
            {% trans %} Flag content {% endtrans %}
        </a>
    </li>
{% endif %}