{{ pageHeader(subject.getName()).render() }}
{% trans %} Start learning now! {% endtrans %}
<div class="row">
    {% set scopes = subject().getOptions(subject).getAllowedTaxonomies() %}
    <?php  ?>
    {% for scope in scopes %}
        <div class="col-md-{{ 12 // (scopes|length) }}">
            <div class="jumbotron">
                {{ scope  | trans }}
            </div>
        </div>
    {% endfor %}
</div>